<% include ../Partials/header %>

<div class="container" style="padding-top: 50px;">
	
	<div class="row">
		<div class="col-md-3">
			<h2><%= user.local.username %> </h2>

			<img src="http://brandonmathis.com/projects/fancy-avatars/demo/images/avatar_male_dark_on_clear_200x200.png" alt="derp" class="img-thumbnail">
			<br>
			<br>
			<a href="/profile/settings/edit"><button type="button" class="btn btn-danger">Edit settings</button></a>
		</div>

		<div class="col-md-9">
			<h1>Profile Settings</h1>
				<b>Email:</b> <%= user.local.email %> 
			<br>	
				<b>Email:</b> <%= user.local.email %> 
			<br>	
				<b>Email:</b> <%= user.local.email %> 
			<br>	
				<b>Email:</b> <%= user.local.email %> 
			<br>	
				<b>Email:</b> <%= user.local.email %> 
			<hr>
			

			<h1>Statistics</h1>
			<b>Antal Skapade rum:</b> 1337
			<br>
			<b>Antal strokes:</b> 102301301203
			<br>	

		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h1>Your Rooms</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<img src="http://placehold.it/200x150">
		</div>
		<div class="col-md-3">
			<img src="http://placehold.it/200x150">
		</div>
		<div class="col-md-3">
			<img src="http://placehold.it/200x150">
		</div>
		<div class="col-md-3">
			<img src="http://placehold.it/200x150">
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-3">
			<img src="http://placehold.it/200x150">
		</div>
		<div class="col-md-3">
			<img src="http://placehold.it/200x150">
		</div>
		<div class="col-md-3">
			<img src="http://placehold.it/200x150">
		</div>
		<div class="col-md-3">
			<img src="http://placehold.it/200x150">
		</div>
	</div>
</div>