<% include ../Partials/header %>

<div class="container" style="padding-top: 50px;">
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>
	<div class="row">
		<div class="col-md-3">
			<h1><%= user.local.username %> </h1>

			<img src="http://brandonmathis.com/projects/fancy-avatars/demo/images/avatar_male_dark_on_clear_200x200.png" alt="derp" class="img-thumbnail">
			<br>
			<br>
			<a href="/profile/edit"><button type="button" class="btn btn-danger">Edit Profile</button></a>
		</div>

		<div class="col-md-9">
			<h2 class="extra-mt">Profile Settings</h2>
				<b>Email:</b> <%= user.local.email %> 
			<br>	
				<b>Username:</b> <%= user.local.username %> 
			<br>

			<% if(typeof user.local.first_name !== "undefined") {
				var firstNamelol = user.local.first_name; 
			} else {var firstNamelol = "";} %>
				<b>First Name:</b> <%= firstNamelol %>
			<br> 

			<% if(typeof user.local.last_name !== "undefined") {
				var lastNamelol = user.local.last_name; 
			} else {var lastNamelol = "";} %>	 
				<b>Last Name:</b> <%= lastNamelol %>
			<br>

			<% if(typeof user.local.age !== "undefined") {
				var agelol = user.local.age; 
			} else {var agelol = "";} %>		
				<b>Age:</b>  <%= agelol %>
			<hr>
			

			<h2>Statistics</h2>
			
			<b>Total Created Rooms:</b> <%= totalrooms = (userRooms.length === 'undefined') ? 0 : userRooms.length  %>
			<br>
			<b>Member since:</b> <%= user.local.created_at %>
			<br>	

		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h1>Your Rooms</h1>
		</div>
	</div>
	<div class="row">

	<% if(typeof user !== "undefined" && userRooms.length > 0) { %>
      
      <div class="container-fluid content-type-b">
        
        <div class="container">
          
          <div class="row row-centered thumbnails">
            <div class="col-md-12 col-centered">
              <div class="thumbs-ul-container align-left">
                <ul class="test">
                <% var uLimit = (userRooms.length > 10) ? 10 : userRooms.length; %>
                <% for(var i = 0; i < uLimit; i++) { %>
                  <li>
                    <a href= "<%= 'rooms/'+userRooms[i].roomId %>">
                      <h4 class="room-name">
                        <%if(typeof userRooms[i].name !== "undefined") { %>
                          <% var name = (userRooms[i].name.length > 17) ? (userRooms[i].name.substring(0,17) + "..") : userRooms[i].name %>
                          <%= name %>
                        <% } else { %>
                          <%= userRooms[i].roomId %>
                        <% } %>
                      </h4>
                      <img class="thumb" src="<%= userRooms[i].dataURL %>" />
                    </a>
                      <p class="last-modified">Last used: <%= timeAgo(userRooms[i].lastModified) %> ago.</p>
                      <p class="user-count">Users in Room: <%= userRooms[i].userCount %></p>
                  </li>
                <% } %>
                </ul>
              </div>
            </div><!-- /col-md-12 -->
          </div><!-- /row thumbnails -->
        </div>
        
      </div><!-- /container content-type-b -->
    <% } %>

</div>