<% include Partials/header %>
  <style>
    .thumb{
      width: 200px;
      height: 120px;
      border: solid gray 1px;
    }

    .thumb.last-modified{

    }

    .thumbnails{
      
    }

    .thumbnails li{
      list-style: none;
      float: left;
      padding: 10px;
    }

  </style>
  <script>

  </script>
    <div class="container" id="createroom">
      <div class="row">
         
      </div>
      <form action="/rooms" method="post">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" name="roomName">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-danger btn-lg">Create Room</button>
      </form>
      
        <% if(typeof user !== "undefined" && userRooms.length > 0) { %>
          <div class="thumbnails row">
            <h1>Your Rooms</h1>
            <ul>
            <% for(var i = 0; i < userRooms.length; i++) { %>
              <%if(typeof userRooms[i].dataURL !== "undefined" && userRooms[i].dataURL !== null) {%>
                <li>
                  <a href= "<%= 'rooms/'+userRooms[i].roomId %>">
                    <img class="thumb" src="<%= userRooms[i].dataURL %>" />
                  </a>
                    <p class="last-modified">Last modified: <%= timeAgo(userRooms[i].lastModified) %> ago.</p>
                </li>
              <% } %>
            <% } %>
            </ul>
          </div>
        <% } %> 
        
        <% if(typeof publicRooms !== "undefined" && publicRooms.length > 0) { %>
        <h1>Public Rooms</h1>
          <div class="thumbnails row">
            <ul>
            <% for(var i = 0; i < publicRooms.length; i++) { %>
              <%if(typeof publicRooms[i].dataURL !== "undefined" && publicRooms[i].dataURL !== null) {%>
                <li>
                  <a href= "<%= 'rooms/'+publicRooms[i].roomId %>">
                    <h4>
                      <%if(typeof publicRooms[i].name !== "undefined") { %>
                        <%= publicRooms[i].name %>
                      <% } else { %>
                        <%= publicRooms[i].roomId %>
                      <% } %>
                    </h4>
                    <img class="thumb" src="<%= publicRooms[i].dataURL %>" />
                  </a>
                    <p class="last-modified">Last edited: <%= timeAgo(publicRooms[i].lastModified) %> ago.</p>
                    <p class="user-count">Users in Room: <%= publicRooms[i].userCount %></p>
                </li>
              <% } %>
            <% } %> 
            </ul>
          </div>
        <% } %>
      
         <!--<form action="/rooms" method="post">
                <button type="submit" class="btn btn-danger btn-lg">Create Random Room</button>
          </form>-->
    </div>
  
  </body>
</html>
