<% include Partials/header %>
    <% if(typeof user !== "undefined") { %>
      <div class="container-fluid content-type-a" id="createroom">
        <div class="container">
          <div class="row">
              <div class="col-sm-6">
                <div class="inner">
                  <div class="wat">
                    <h2>User Panel</h2>                   
                      <ul>
                        <li><h3 class="user-stuff"><span class="fa fa-male"></span><a href="/profile"> User Profile</a></h3></li>
                        <li><h3 class="user-stuff"><span class="fa fa-gear"></span><a href="/profile/edit"> Settings</a></h3></li>
                      </ul>
                  </div>
                </div>
             </div>
            
              <div class="col-sm-6">
                <% if(typeof user !== "undefined") { %>
                  <div class="inner">
                    <h2 class="center">Create Room</h2>
                    <form action="/rooms" method="post">
                      <div class="form-group">
                        <label>Room Name (Required)</label>
                        <input type="text" class="form-control" name="roomName" maxlength="35" required>
                      </div>
                        <div id="ifYes" style="display:none">
                          <div class="form-group">
                            <label>Password (Optional)</label>
                            <input type="password" class="form-control" name="password" maxlength="40">
                        </div>
                      </div>
                      Private <input type="radio" name="radioGroup" id="yesCheck" value="private"> 
                      Public  <input type="radio"  name="radioGroup" id="noCheck" checked="" value="public"><br>
                      <br>
                      <button type="submit" class="btn btn-danger btn-lg">Create Room</button>
                    </form> 
                  </div>
                <% } %>
              </div>
            </div>
          </div><!-- /row -->
        </div><!-- /container -->
      </div><!-- /content-type-a -->
      <% } else { %>
        <div class="container-fluid content-type-a">
        <div class="container">
          <div class="row row-centered">
            <div class="col-sm-6 col-centered">
              <div class="inner">
                <div class="wat">
                  <h2>Welcome to Paint Wars!</h2>
                  <h3>
                    <a href="/login">&nbsp;Log In</a>&nbsp; / 
                    <a href="/signup">Sign Up</a>
                  </h3>
                  <h3>or</h3>
                  <form action="/createrandom" method="post">
                    <button type="submit" class="btn btn-danger btn-lg">Create A Room</button>
                  </form>
                  
                  <h4>(Or simply join one of the public rooms below)</h4>
                  
                
                </div>
              </div>
            </div>
          </div><!-- /row -->
        </div><!-- /container -->
      </div><!-- /content-type-a -->
      <% } %>
    <% if(typeof user !== "undefined" && userRooms.length > 0) { %>
      
      <div class="container-fluid blue">
        <h2 class="center">Your Rooms</h2>
      </div>

      <div class="container-fluid content-type-b">
        
        <div class="container">
          
          <div class="row row-centered thumbnails">
            <div class="col-md-12 col-centered">
              <div class="thumbs-ul-container">
                <ul class="thumb-ul">
                <% var uLimit = (userRooms.length > 10) ? 10 : userRooms.length; %>
                <% for(var i = 0; i < uLimit; i++) { %>
                  <li>
                    <a href= "<%= 'rooms/'+userRooms[i].roomId %>">
                      <h4 class="room-name">
                        <%if(typeof userRooms[i].name !== "undefined") { %>
                          <% var name = (userRooms[i].name.length > 17) ? (userRooms[i].name.substring(0,17) + "..") : userRooms[i].name %>
                          <%= name %>
                        <% } else { %>
                          <%= userRooms[i].roomId %>
                        <% } %>
                      </h4>
                      <img class="thumb" src="<%= userRooms[i].dataURL %>" />
                    </a>
                      <p class="last-modified">Last used: <%= timeAgo(userRooms[i].lastModified) %> ago.</p>
                      <p class="user-count">Users in Room: <%= userRooms[i].userCount %></p>
                  </li>
                <% } %>
                </ul>
              </div>
            </div><!-- /col-md-12 -->
          </div><!-- /row thumbnails -->
        </div>
        
      </div><!-- /container content-type-b -->
    <% } %>
    <% if(typeof publicRooms !== "undefined" && publicRooms.length > 0) { %>

      <div class="container-fluid blue">
        <h2 class="center">Public Rooms</h2>
      </div>
      <div class="container-fluid content-type-b">

        <div class="container">
          
          <div class="row row-centered thumbnails">
              <div class="col-md-12 col-centered">
                
                
                <div class="thumbs-ul-container">
                  <ul class="thumb-ul">
                  <% var pLimit = (publicRooms.length > 10) ? 10 : publicRooms.length; %>
                  <% for(var i = 0; i < pLimit; i++) { %>
                    <li>
                      <a href= "<%= 'rooms/'+publicRooms[i].roomId %>">
                        <h4 class="room-name">
                          <%if(typeof publicRooms[i].name !== "undefined") { %>
                            <% var name = (publicRooms[i].name.length > 17) ? (publicRooms[i].name.substring(0,17) + "..") : publicRooms[i].name %>
                            <%= name %>
                          <% } else { %>
                            <%= publicRooms[i].roomId %>
                          <% } %>
                        </h4>
                        <img class="thumb" src="<%= publicRooms[i].dataURL %>" />
                      </a>
                        <p class="last-modified">Last used: <%= timeAgo(publicRooms[i].lastModified) %> ago.</p>
                        <p class="user-count">Users in Room: <%= publicRooms[i].userCount %></p>
                    </li>
                  <% } %> 
                  </ul>
                </div>
              </div><!-- /col-md-12 -->
            </div><!-- /room-block -->
            
          </div><!-- /container content-type-b -->
        </div> 
      <% } %>
      <% include Partials/footer %>
  </body>
</html>
